@font-face {
    font-family: "Pokemon GB";
    src: url("./Fonts/pokemon_fire_red.woff");
}

body, button {
    font-family: "Pokemon GB";
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 40pt; 
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rock_image {
    width: 20vh;
    height: 20vh;
    object-fit: scale-down;
}

.paper_image {
    width: 20vh;
    height: 20vh;
    object-fit: scale-down;
}

.scissor_image {
    width: 20vh;
    height: 20vh;
    object-fit: scale-down;
}

.rock,
.paper,
.scissor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    gap: 20px 0px;
}

#rock {
    display: flex;
    padding: 14px 40px;
    font-size: 20pt;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
    align-self: center;
}

#rock:hover {
    background-color: #444444;
}

#rock:active {
    background-color: #444444;
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

#paper {
    display: flex;
    padding: 14px 40px;
    font-size: 20pt;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
    align-self: center;
}

#paper:hover {
    background-color: #444444;
}

#paper:active {
    background-color: #444444;
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

#scissors {
    display: flex;
    padding: 14px 40px;
    font-size: 20pt;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
    align-self: center;
}

#scissors:hover {
    background-color: #444444;
}

#scissors:active {
    background-color: #444444;
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

.opponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rotom {
    width: 20vh;
    height: 20vh;
    object-fit: scale-down;
}

.opponent_name {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 25pt;
    color: #dc0000;
    margin-bottom: -20px;
}

.VS {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20pt;
    color: black;
    padding-top: 10px;
}

.character {
    display: flex;
    justify-content: flex-start;
    font-size: 25pt;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

#computer_picks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 10px;
    font-size: 20pt; 
}

#result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    /* border: 2px solid black; */
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    font-size: 25pt;
}

#score {
    display: flex;
    flex-direction: column;
    font-size: 20pt;
    margin: 10px;
}

#playerWinsLogged {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
    padding-top: 10px;
}

#compWinsLogged {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 10px;
}

